<section id="Contact">
			<div class="container mb-xl">
				<div class="row ">
					<div class="col-md-6">

						<div class="alert alert-success hidden" id="contactSuccess">
							<strong>Success!</strong> Your message has been sent to us.
						</div>

						<div class="alert alert-danger hidden" id="contactError">
							<strong>Error!</strong> There was an error sending your message.
						</div>

						<h2 class="mb-sm  heading-primary">Contact Us</h2>
						<%= partial "partials/project/form--contact--full" %>
					</div>
					<div class="col-md-4 col-md-offset-1 mt-xl ">

						<h4 class="heading-primary mt-lg">Get in Touch</h4>
						<p>We will be happy to answer any questions that you may have concerning our service.</p>
						<hr>
						<% if data.site.defaults.businessaddress || data.site.defaults.businessphone || data.site.defaults.businessemail %>
							<h4 class="heading-primary">The Office</h4>
							<ul class="list list-icons list-icons-style-3 mt-xlg">
								<% if data.site.defaults.businessaddress %>
									<li><i class="fa fa-map-marker"></i> <strong>Address:</strong> <%= data.site.defaults.businessaddress %></li>
								<% end %>
								<% if data.site.defaults.businessphone %>
									<li><i class="fa fa-phone"></i> <strong>Phone:</strong> <%= data.site.defaults.businessphone %></li>
								<% end %>
								<% if data.site.defaults.businessemail %>
								<li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:<%= data.site.defaults.businessemail %>"><%= data.site.defaults.businessemail %></a></li>
								<% end %>
							</ul>

							
						<% end %>

						

					</div>

				</div>
			</div>
		</section>